body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #000046, #1cb5e0, #f0c30f, #3c3c3c);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 100% 50%;
  }

  50% {
    background-position: 200% 50%;
  }

  75% {
    background-position: 300% 50%;
  }

  100% {
    background-position: 400% 50%;
  }
}

header,
section,
footer {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  color: inherit;
}

header {
  padding: 20px;
}

header h1 {
  margin-top: 0;
  text-align: center;
}

section {
  margin: 20px 0;
}

section h2 {
  margin-top: 0;
}

section table {
  width: 100%;
  border-collapse: collapse;
}

section table th,
section table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

section table th {
  background-color: #f2f2f2;
}

section blockquote {
  background-color: #f9f9f9;
  padding: 10px;
  border-left-width: 5px;
  border-left-color: #ddd;
}

footer {
  padding: 10px;
  text-align: center;
}

/*Logo*/
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  margin: 20px auto;
}

.logo img {
  width: 100%;
}

/*Navigation Bar*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}

nav ul li:hover .sub-menu {
  display: block;
}

/*Dropdown Sub-menu*/
.sub-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  z-index: 1;
}

.sub-menu a {
  display: block;
  padding: 12px;
  text-decoration: none;
  color: #000;
}

.sub-menu a:hover {
  background-color: #f0e68c;
}

/*Mega menu*/
.mega-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 300px;
  z-index: 1;
}

.mega-menu a {
  display: block;
  padding: 12px;
  text-decoration: none;
  color: #000;
}

.mega-menu a:hover {
  background-color: #f0e68c;
}

.sub-menu li:hover .mega-menu {
  display: block;
}

img {
max-width: 100%;
height: auto;
}

/* Preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;

  /* Add animation */
  animation: preloader 2s linear infinite;
}

/* Keyframe animation for preloader */
@keyframes preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-bar {
  width: 0%;
  height: 5px;
  background-color: #3498db;
  transition: width 0.2s;
}